@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Homemade+Apple&family=Noto+Serif&family=Oswald:wght@500&display=swap");

.navlink {
  color: rgba(48, 47, 47, 0.911) !important;
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.resources-link {
  color: black !important;
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.navlink:hover {
  color: white !important;
}
.navWrapper {
  height: 640px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("https://static.wixstatic.com/media/95c7c7_a0c895b386a746438646f5f33e6a42a1~mv2_d_2048_1366_s_2.jpg/v1/fill/w_980,h_528,al_c,q_85,usm_0.66_1.00_0.01/95c7c7_a0c895b386a746438646f5f33e6a42a1~mv2_d_2048_1366_s_2.webp")
      no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.heading-purdue {
  color: rgb(56, 56, 56);
  font-size: 65px;
  margin-bottom: -60px;
  margin-left: 3px;
  font-family: "Noto Serif", serif;
}

.heading-fencing {
  color: white;
  font-size: 140px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.nav-primary {
  width: 70%;
  margin: 0 auto;
}

.header-text {
  margin-left: 200px;
  margin-top: 70px;
}

.join-text {
  color: black !important;
  font-family: "Oswald", sans-serif;
  background-attachment: fixed;
}

.join-text:hover {
  color: white !important;
}

.join {
  margin-top: -30px;
}

.join-button {
  /* background-color: rgba(48, 47, 47, 0.911) !important; */
}

.secondary-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../background1.png") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.heading-about {
  color: white;
  font-size: 100px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  padding-top: 25px;
}

.home-intro {
  width: 1030px;
  font-family: "Oswald", sans-serif;
}

.home-text {
  font-size: 20px;
  font-family: "Oswald", sans-serif, bold;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.university-header {
  text-align: center;
}

.universities {
  width: 1030px;
}

.uni-logo {
  height: 150px;
}

.about-header {
  font-size: 50px;
}

.about-intro {
  width: 1030px;
  font-family: "Oswald", sans-serif;
}

.image-row-3 {
  padding: 0;
}

.image-center {
  padding-right: 53px;
  padding-left: 53px;
}

.work-improvement {
  text-align: center;
}

.work-text {
  background-color: pink;
  width: 100px;
  text-align: center;
}

.officer-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../officer-bg.jpeg") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.officer-date {
  color: rgb(56, 56, 56);
  font-size: 65px;
  margin-bottom: -60px;
  margin-left: 3px;
  font-family: "Oswald", sans-serif;
}

.executive {
  width: 1030px;
  justify-content: center;
}

.non-executive {
  width: 1030px;
  justify-content: center;
}

.officer-info {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.join-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../joinbg.jpeg") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.join-fence-text {
  color: rgb(56, 56, 56);
}

.join-header {
  width: 1030px;
}

#dropdown-basic-button {
  color: rgba(48, 47, 47, 0.911) !important;
  font-weight: bold;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.dropdown-item {
  color: white;
  font-family: "Oswald", sans-serif;
}

.navdrop .active {
  background-color: #1a1a1a !important;
}

.droplink:active {
  background-color: #505050 !important;
}

.navlink-news {
  margin-right: 20px;
}

.join-intro {
  font-family: "Oswald", sans-serif;
}

.join-content-container {
  width: 70%;
}

.contact-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../contactbg.jpeg") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.news-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../newsbg.jpeg") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.beginner-nav {
  height: 500px;
  background: linear-gradient(to right, #d3c71fb9, #d3c71fb9),
    url("../beginnerbg2.jpeg") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2000;
}

.beginner-sub {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  padding-left: 80px;
  color: rgba(48, 47, 47, 0.911);
}

.beginner-text {
  padding-top: 60px;
  width: 70%;
  margin: 0 auto;
}

.fencing-body {
  width: 70%;
}

.fencing-header {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}

.stickybox {
  background-color: rgba(245, 245, 245, 0.911);
  border: 1px solid black;
  box-shadow: 3px 3px #888888;
  font-family: "Oswald", sans-serif;
}

.sidebarlink {
  color: black !important;
}

.sidebarlink:hover {
  color: #292929 !important;
}

.beginner-content {
  width: 70%;
  margin: 0 auto;
}
